body
{
    border: 0;
    height: 482vh;
}

body div
{
    background-repeat: no-repeat;
    background-size: contain;
}

header
{
    border: 0;
    height: 100px;
    padding: 5px;
}

header div
{
    border: 0;
    padding: 3px;
    display: flex;
    height: 90%;
    justify-content: space-between;
    align-items: center;

}

.company-logo
{
    border: 0;
    width: 300px;
    height: 50%;
    border-radius: 5px;
}

.company-logo a
{
    border: 0;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links
{
    width: 250px;
    height: 50%;
    padding: 1px;
}

#nav-links a
{
    border: 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

#nav-links a:hover
{
    text-decoration: underline;
}



main
{
    border: 0;
    height: 2890px;
}

main #section-1
{
    border: 0;
    padding: 5px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section-1 #block-1a
{
    border: 0;
    width: 60%;
    padding: 2px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section-1 #block-1a .Title
{
    border: 0;
    margin: 0;
    height: 50%;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 800%;
}

#section-1 #block-1a p
{
    border: 0;
    margin: 0;
    width: 40%;
    height: 30px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

#section-1 #block-1a button
{
    border: 0;
    border-radius: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: white;
    background-color: rgba(194, 113, 255, 1);
}

#section-1 #block-1b
{
    border: 0;
    width: 80%;
    height: 40%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#section-1 #block-1b h2
{
    border: 0;
    width: 30%;
    color: white;
}

#section-1 #block-1b div
{
    border: 0;
    height: 80%;
    width: 80%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-1 #block-1b div div
{
    border: 0;
    height: 98%;
    width: 20%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-1 #block-1b div div .Image
{
    border: 0;
    width: 99%;
    height: 65%;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-1 #block-1b div div .Name
{
    border: 0;
    width: 99%px;
    height: 10%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#section-1 #block-1b div div .Subtitle
{
    border: 0;
    width: 99%;
    height: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



main #section-2
{
    border: 0;
    padding: 5px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(194, 113, 255, 1);
}

#section-2 div
{
    border: 0;
    width: 50%;
    height: 60%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section-2 div image
{
    border: 0;
    width: 45%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-2 div div
{
    border: 0;
    height: 96%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-2 div div q
{
    border: 0;
    margin: 0;
    width: 99%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#section-2 div div h2
{
    border: 0;
    margin: 0;
    width: 99%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

#section-2 div div p
{
    border: 0;
    color: white;
    display: flex;
    justify-content: left;
}


main #section-3
{
    border: 0;
    padding: 5px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#section-3 h2
{
    border: 0;
    width: 30%;
    background-color: white;
}

#section-3 div
{
    border: 0;
    height: 60%;
    padding: 2px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#section-3 div div
{
    border: 0;
    height: 98%;
    width: 22%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#section-3 div div image
{
    margin-bottom: 1px;
    height: 80%;
}

#section-3 div div h4
{
    border: 0;
    margin-bottom: 1px;
}

#section-3 div div p
{
    border: 0;
}

#section-3 div div div
{
    border: 0;
    height: 26%;
    width: 96%;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
}

#section-3 div div #singular
{
    display: flex;
    justify-content: left;
}

#section-3 div div #singular span
{
    border: 0;
    height: 98%;
    width: 30%;
}

#section-3 div div #singular h4
{
    border: 0;
    height: 98%;
    width: 47%;
    color: rgba(194, 113, 255, 1);
}

#section-3 div div #plural span
{
    border: 0;
    height: 98%;
    width: 60%;
}

#section-3 div div #plural p
{
    border: 0;
    height: 75%;
    width: 40%;
    color: rgba(194, 113, 255, 1);
}





main #section-4
{
    border: 0;
    padding: 5px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(7, 22, 41, 1);
}

#section-4 h2
{
    width: 30%;
    color: white;
    font-size: x-large;
    margin-bottom: 15px;
    border: 0;
}

#section-4 div
{
    border: 0;
    height: 40%;
    width: 70%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section-4 div h4
{
    color: white;
    border: 0;
}

#section-4 div p
{
    color: white;
    border: 0;
}


#section-4 button
{
    width: 12%;
    background-color: rgba(194, 113, 255, 1);
    color: white;
    border-radius: 30px;
    height: 10%;
    margin-top: 20px;
    border: 0;
}

#section-4 div div
{
    border: 0;
    height: 98%;
    width: 20%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main #section-5
{
    border: 0;
    padding: 5px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section-5 h2
{
    border: 0;
    width: 30%;
    font-size: xx-large;
}

#section-5 div
{
    border: 0;
    height: 80%;
    width: 60%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#section-5 div div
{
    border: 0;
    width: 98%;
    height: 43%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#section-5 div div div
{
    border: 0;
    width:47% ;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#section-5 div div div h4
{
    border: 0;
    height: 10%;
    font-size: x-large;
}

#section-5 div div div p
{
    border: 0;
    height: 85%;
    display: flex;
    align-items: center;
}



footer
{
    border: 0;
    height: 150px;
    padding: 5px;
    background-color: rgba(7, 22, 41, 1);
}

footer div
{
    border: 0;
    padding: 3px;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer div div
{
    border: 0;
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div p
{
    border: 0;
    height: 30%;
    margin: 0;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(109, 109, 109);
    font-size: small;
}

footer div div div
{
    border: 0;
    justify-content: space-between;
}

footer div div #logo
{
    border: 0;
    width: 100px;
}

footer div div #nav-images
{
    border: 0;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer div div #logo image
{
    border: 0;
    width: inherit;
    display: flex;
    justify-content: center;
}

footer div div #nav-images a
{
    border: 0;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div div #nav-images a span
{
    border: 0;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
}