body
{
    display: flex;
    flex-direction: column;
}

header span
{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

main
{
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color: rgb(209, 207, 207);
}

main article
{
    flex: 2;
    overflow-y: auto;
}

main article h1
{
    color: aquamarine;
}

main article h2
{
    border: 1px solid palevioletred;
    width: 200px;
}

main article a.picture
{
    display: flex;
    width: 300px;
    height: 200px;
}

main aside
{
    flex: 1;
    overflow-y: auto;
}